In [1]:
import pandas as pd

# Create a Series Object from List

In [2]:
ice_cream = ["Vanilla", "Chocolate", "Strawberry", "Rum Raising"]

pd.Series(ice_cream)

0        Vanilla
1      Chocolate
2     Strawberry
3    Rum Raising
dtype: object

In [3]:
lottery = [4, 8, 15, 16, 23, 42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Create a Series Object from a Dictionary

In [4]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}

pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

# Some Attributes

- .size
- .is_unique
- .values
- .index

# Parameters and Arguments

- Parameter - The name we give to an expected input
- Argument - The concrete value that we provide to a parameter

In [ ]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

pd.Series()